* {
  margin: 0 auto;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  
  height: 100vh;
  width: 100vw;
}

canvas {
  align-self: flex-start;
  background-color: #000;
  border: 1px solid #000;
}